@import "./css/header.css";
@import "./css/about.css";

:root {
  --color-primary: #fff;
  --color-secondary: #e6edf1;
  --color-background: #080a1e;
  --color-hover: #8e8f99;
  --primary-font: "Satoshi", sans-serif;
  --second-font: "Clash Grotesk", sans-serif;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--primary-font);
  color: var(--color-primary);
  background-color: var(--color-background);
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.33;
}

.logo {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 16px;
  transition: color var(--transition-dur-and-func);
}

.logo:hover,
.logo:focus {
  color: var(--color-hover);
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1180px;
    padding: 0 130px;
  }
  .title {
    font-size: 24px;
  }
}
